.image {
    width: 1000px;
}
.avatar {
    width: 200px;
    height: 200px;
}

.descriptionBlock {
    padding: 10px;
}

.contactsContainer {
    list-style-type: none;
    cursor: pointer;
    margin-top: 0;
}

.userImage {
    width: 200px;
    height: 200px;
}

.contact {
    padding-left: 20px;
}